<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resaca de Cumples</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,container-queries"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wdth,wght@1,87.5,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="static/kids.css">

</head>

<body class="bg-gray-100" style="margin-bottom: 200px;">

  <section class="container mx-auto p-6">
    <h2 class="text-4xl font-bold text-center mb-8" id="Fire">Próximo Cumpleaños</h2>

    <div class="flex justify-between items-end mb-2">

      <div class="flex items-center gap-2">
        <div class="relative w-30" style="margin-bottom: -6px;">
          <span class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-1">
            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 8"
              class="w-3 h-3 text-gray-800 dark:text-white">
              <path stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m1 1 5.326 5.7a.909.909 0 0 0 1.348 0L13 1"></path>
            </svg>
          </span>

          <select id="clanes" style="font-weight: bold;"
            class="appearance-none bg-none  block w-full bg-transparent border-0 border-b-0 border-default-medium text-sm text-body focus:outline-none focus:ring-0 focus:border-brand peer py-2.5 pl-6 pr-2">
            <option>Todos</option>
            <option value="cm">Codina Martínez</option>
            <option value="mc">Marín Codina</option>
            <option value="cc">Cudina Codina</option>
            <option value="cf">Codina Ferreres</option>
            <option value="mtc">Martín Codina</option>
          </select>

        </div>
      </div>

      <div class="flex items-center gap-4">
        <span class="text-gray-700 text-sm">Fecha</span>
        <label class="relative inline-flex items-center cursor-pointer" style="margin-left: -10px;margin-right: -10px;">
          <input type="checkbox" id="filtro" class="sr-only peer">
          <div class="w-14 h-7 bg-red-500 rounded-full peer peer-checked:bg-blue-500 transition-all"></div>
          <div
            class="absolute left-1 top-1 w-5 h-5 bg-white rounded-full shadow-md peer-checked:translate-x-7 transition-all">
          </div>
        </label>
        <span class="text-gray-700 text-sm">Dorsal</span>
      </div>

    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6" id="contenedor">

      {% for kid in kids %}
      <div class="bg-white p-6 rounded-lg shadow-md kid">

        <div class="image-container rounded-xl" id="{{kid.nombre | lower}}-div">
          {% if kid.video %}
          <img class="object-cover w-full rounded-xl aspect-square card-img-top mx-auto mb-4" src="{{ kid.image }}"
            onclick="mostrarVideo('{{kid.nombre | lower}}')" alt="">
          <span class="dorsal archivo-dorsal">#{{ kid.dorsal }}</span>
          <video class="object-cover w-full rounded-xl aspect-square card-img-top mx-auto mb-4 video" playsinline>
            <source src="static/videos/{{ kid.normalized }}.mp4" type="video/mp4">
            Tu navegador no soporta este formato de video.
          </video>
          {% else %}
          <img class="object-cover w-full rounded-xl aspect-square card-img-top mx-auto mb-4" src="{{ kid.image }}"
            alt="">
          <span class="dorsal archivo-dorsal">#{{ kid.dorsal }}</span>
          {% endif %}
        </div>

        <div class="flex" style="justify-content: center;">
          
          <h3 class="text-xl font-semibold text-center card-title">{{ kid.nombre }}</h3>
          {% if not kid.embarazo %}
            {% if not kid.cumple_today %}
          <span class="text-gray-600 text-xl" style="margin-left: 4px;">({{ kid.edad-1 }})</span>
            {% else %}
          <span class="text-gray-600 text-xl" style="margin-left: 4px;">({{ kid.edad }})</span>
            {% endif %}
          {% endif %}
        </div>

        <p class="text-gray-600 text-center card-subtitle">{{ kid }}</p>
        <span hidden class="fecha">{{ kid.cumple_date }}</span>
        <span hidden class="clan">{{ kid.clan }}</span>
        <div class="text-center mt-4">

          <div class="w-full max-w-xl bg-gray-200 rounded-full h-5 overflow-hidden">
            <div class="auxbar {{ kid.color }}" style="width: {{ kid.progreso }}%;"></div>
          </div>

        </div>
      </div>
      {% endfor %}

    </div>
  </section>

  <script>

    document.getElementById("filtro").addEventListener("change", function () {

      if (this.checked) {
        ordenarDivsDorsal();
      } else {
        ordenarDivsFecha();
      }
    });

    function mostrarVideo(kidid) {

      var divid = kidid + '-div';
      var div = document.getElementById(divid);

      var imagen = div.querySelector('img');
      var video = div.querySelector('video');

      imagen.style.display = 'none';
      video.style.display = 'block';

      video.setAttribute('playsinline', '');
      video.currentTime = 0;
      video.play();

      video.onended = function () {
        video.currentTime = 0;
        video.load();
        video.pause();

        imagen.style.display = 'block';
        video.style.display = 'none';
      };
    }

    function ordenarDivsDorsal() {
      const container = document.getElementById('contenedor');
      const items = Array.from(container.querySelectorAll('.bg-white'));

      items.sort((a, b) => {
        const numA = parseInt(a.querySelector('.dorsal').textContent.replace('#', ''));
        const numB = parseInt(b.querySelector('.dorsal').textContent.replace('#', ''));
        return numA - numB;
      });

      items.forEach(item => container.appendChild(item));
    }

    function ordenarDivsFecha() {
      const container = document.getElementById('contenedor');
      const items = Array.from(container.querySelectorAll('.bg-white'));

      items.sort((a, b) => {
        const fechaA = a.querySelector('.fecha').textContent.trim();
        const fechaB = b.querySelector('.fecha').textContent.trim();

        const dateA = new Date(fechaA);
        const dateB = new Date(fechaB);

        return dateA - dateB;
      });

      items.forEach(item => container.appendChild(item));
    }

    const selectorClan = document.getElementById('clanes');
    const contenedor = document.getElementById('contenedor');

    selectorClan.addEventListener('change', function () {
      const filtro = this.value;
      const kids = contenedor.getElementsByClassName('kid');

      Array.from(kids).forEach(kid => {
        const spanClan = kid.querySelector('.clan');

        if (spanClan) {
          const valorClan = spanClan.textContent.trim();

          if (filtro === "Todos" || valorClan === filtro) {
            kid.style.display = '';
          } else {
            kid.style.display = 'none';
          }
        }
      });
    });

    (function() {
      const runConfetti = document.querySelector('#hs-run-on-click-run-confetti');
      runConfetti.addEventListener('click', () => {
        confetti({
          particleCount: 100,
          spread: 70,
          origin: {
            y: 0.6
          }
        });
      });
    })();

  </script>

<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.3/dist/confetti.browser.min.js"></script>
<script>
    var count = 500;
    var defaults = {
        origin: { y: 0.8, x: 0.5 },
    };

    document.getElementById("Fire").onclick = FireCannon;

    function Fire(particleRatio, opts) {
        confetti(Object.assign({}, defaults, opts, {
            particleCount: Math.floor(count * particleRatio)
        }));
    }

    function FireCannon() {

        Fire(0.25, {
            spread: 26,
            startVelocity: 55,
        });
        Fire(0.2, {
            spread: 60,
        });
        Fire(0.35, {
            spread: 100,
            decay: 0.91,
            scalar: 0.4
        });
        Fire(0.1, {
            spread: 120,
            startVelocity: 25,
            decay: 0.92,
            scalar: 1.2
        });
        Fire(0.1, {
            spread: 120,
            startVelocity: 45,
        });
    }
</script>

</body>

</html>