<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resaca de Cumples</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,container-queries"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wdth,wght@1,87.5,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="static/kids.css">

  <script src="https://cdn.onesignal.com/sdks/web/v16/OneSignalSDK.page.js" defer></script>
  <script>
    window.OneSignalDeferred = window.OneSignalDeferred || [];
    OneSignalDeferred.push(async function(OneSignal) {
      await OneSignal.init({
        appId: "4bd73901-9665-4f75-ae38-872b55702a15",
        safari_web_id: "web.onesignal.auto.5694d1e9-fcaa-415d-b1f1-1ef52daca700",
        notifyButton: {
          enable: true,
        },
        serviceWorkerPath: "static/OneSignalSDKWorker.js",
        serviceWorkerParam: { scope: "/" },
      });
    });
  </script>
  
</head>

<body class="bg-gray-100" style="margin-bottom: 200px;">

  <section class="container mx-auto p-6">
    <h2 class="text-4xl font-bold text-center mb-8 titulo festivo g1" id="Fire" style="user-select: none;">Próximo Cumpleaños</h2>

    <div class="flex justify-between items-end mb-2">

      <div class="flex items-center gap-2">
        <div class="relative w-30" style="margin-bottom: -6px;">
          <span class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-1">
            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 8"
              class="w-3 h-3 text-gray-800 dark:text-white">
              <path stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m1 1 5.326 5.7a.909.909 0 0 0 1.348 0L13 1"></path>
            </svg>
          </span>

          <select id="clanes" style="font-weight: bold;"
            class="appearance-none bg-none  block w-full bg-transparent border-0 border-b-0 border-default-medium text-sm text-body focus:outline-none focus:ring-0 focus:border-brand peer py-2.5 pl-6 pr-2">
            <option>Todos</option>
            <option value="cm">Codina Martínez</option>
            <option value="mc">Marín Codina</option>
            <option value="cc">Cudina Codina</option>
            <option value="cf">Codina Ferreres</option>
            <option value="mtc">Martín Codina</option>
          </select>

        </div>
      </div>

      <div class="flex items-center gap-4">
        <span class="text-gray-700 text-sm">Fecha</span>
        <label class="relative inline-flex items-center cursor-pointer" style="margin-left: -10px;margin-right: -10px;">
          <input type="checkbox" id="filtro" class="sr-only peer">
          <div class="w-14 h-7 bg-red-500 rounded-full peer peer-checked:bg-blue-500 transition-all"></div>
          <div
            class="absolute left-1 top-1 w-5 h-5 bg-white rounded-full shadow-md peer-checked:translate-x-7 transition-all">
          </div>
        </label>
        <span class="text-gray-700 text-sm">Dorsal</span>
      </div>

    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6" id="contenedor">

      {% for kid in kids %}
      <div class="bg-white p-6 rounded-lg shadow-md kid">

        <div class="image-container rounded-xl" id="{{kid.nombre | lower}}-div">
          {% if kid.video %}
          <img class="object-cover w-full rounded-xl aspect-square card-img-top mx-auto mb-4" src="{{ kid.image }}"
            onclick="mostrarVideo('{{kid.nombre | lower}}')" alt="">
          <span class="dorsal archivo-dorsal">#{{ kid.dorsal }}</span>
          <video class="object-cover w-full rounded-xl aspect-square card-img-top mx-auto mb-4 video" playsinline>
            <source src="static/videos/{{ kid.normalized }}.mp4" type="video/mp4">
            Tu navegador no soporta este formato de video.
          </video>
          {% else %}
          <img class="object-cover w-full rounded-xl aspect-square card-img-top mx-auto mb-4" src="{{ kid.image }}"
            alt="">
          <span class="dorsal archivo-dorsal">#{{ kid.dorsal }}</span>
          {% endif %}
        </div>

        <div class="flex" style="justify-content: center;">
          
          <h3 class="text-xl font-semibold text-center card-title">{{ kid.nombre }}</h3>
          {% if not kid.embarazo %}
            {% if not kid.cumple_today %}
          <span class="text-gray-600 text-xl" style="margin-left: 4px;">({{ kid.edad-1 }})</span>
            {% else %}
          <span class="text-gray-600 text-xl" style="margin-left: 4px;">({{ kid.edad }})</span>
            {% endif %}
          {% endif %}
        </div>

        <p class="text-gray-600 text-center card-subtitle">{{ kid }}</p>
        <span hidden class="fecha">{{ kid.cumple_date }}</span>
        <span hidden class="clan">{{ kid.clan }}</span>
        <div class="text-center mt-4">

          <div class="w-full max-w-xl bg-gray-200 rounded-full h-5 overflow-hidden">
            <div class="auxbar {{ kid.color }}" style="width: {{ kid.progreso }}%;"></div>
          </div>

        </div>
      </div>
      {% endfor %}

    </div>
  </section>

  <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.3/dist/confetti.browser.min.js"></script>
  <script src="static/kids.js"></script>
  
</body>

</html>